.home-reviews {
  &__container {
    max-width: calc(1094px + 22px + 22px);
    width: 100%;
    padding: 0 22px;
    margin: 0 auto;
  }

  &__title {
    color: #FFF;
    text-align: center;

    /* H2 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 126.087% */
    margin: 0 auto 68px auto;
  }
}