.home-socials {

  padding-bottom: 130px;

  @media (max-width: 768px) {
    padding-bottom: 85px;
  }

  &__container {
    max-width: calc(1094px + 22px + 22px);
    width: 100%;
    padding: 0 22px;
    margin: 0 auto;
  }

  &__title {
    color: var(--main-font-color);
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 126.087% */
    margin: 0 auto 100px auto;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 37px;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    justify-content: center;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  &__item {

    max-width: 200px;
    width: 100%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);

    /* LIGHT ITEMS */
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.10);

    @media (max-width: 1024px) {
      max-width: 48%;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 47%;
    }

    a {
      padding: 22px 0 25px 0;
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

  }

  &__text {
    color: var(--main-font-color);
    text-align: center;

    /* H4 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 157.143% */

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__image {
    @media (max-width: 768px) {
      max-width: 142px;
    }
  }
}