.swap-tokens {

  padding: 130px 0;

  &__container {
    max-width: calc(955px + 22px + 22px);
    width: 100%;
    padding: 0 22px;
    margin: 0 auto;
  }

  &__title {
    color: var(--White, #FFF);
    text-align: center;

    /* H4 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 157.143% */
    margin-bottom: 70px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(7, minmax(80px, 133px));
    row-gap: 33px;
    
    @media (max-width: 1140px) {
      display: flex;
      flex-wrap: wrap;
      gap: 8.5px;
      row-gap: 40px;
    }
  }

  &__items .swap-tokens__item:nth-child(8),
  &__items .swap-tokens__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__items .swap-tokens__item:nth-child(9),
  &__items .swap-tokens__item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &__items .swap-tokens__item:nth-child(10),
  &__items .swap-tokens__item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  &__items .swap-tokens__item:nth-child(11),
  &__items .swap-tokens__item:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 7;
  }

  &__items .swap-tokens__item:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  &__items .swap-tokens__item:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  &__items .swap-tokens__item:nth-child(7) {
    grid-column-start: 6;
    grid-column-end: 7;
  }

  &__item {
    display: flex;
    background: #ffffff1a;
    width: fit-content;
    align-items: center;
    backdrop-filter: blur(10px);
    gap: 14px;
    padding: 8px 16px;
    border-radius: 40px;
    
    @media (max-width: 768px) {
      padding: 6px 14px;
      gap: 12px;
    }
  }

  &__item-text {
    color: var(--White, #FFF);

    /* H4 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 157.143% */
    @media (max-width: 768px) {
      font-size: 1.5rem;
      line-height: 1.2;
    }

  }

}