.faq {
  background: url('../img/faq_1_bg_big.webp') center top / cover no-repeat;
  padding-bottom: 100px;

  .faqTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 60px 0;
    background-size: cover;

    @include lg() {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include md() {
      padding: 40px 20px;
    }

    &::after {
      content: '';
      background: url('../svg/faq-head-helmet.svg') center/contain no-repeat;
      aspect-ratio: 134/327;
      height: 100%;
      position: absolute;
      right: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }

    h1 {
      display: inline-block;
      width: fit-content;
      margin: 0;
      position: relative;
      color: #fff;
      // font-family: $font_mulish;
      font-size: 44px;
      font-weight: 700;
      line-height: 130%;
      text-align: center;

      @include lg() {
        font-size: 36px;
      }

      @include md() {
        font-size: 26px;
        max-width: 200px;
      }

      &::before {
        background-image: url('../img/faq_top.svg');
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        top: -20px;
        right: -38px;
        width: 38px;
        height: 35px;

        @include lg() {
          top: -16px;
          right: -32px;
          width: 30px;
          height: 28px;
        }

        @include md() {
          top: -10px;
          right: -20px;
          width: 18px;
        }
      }

      &::after {
        content: '';
        background-color: #fff;
        border-radius: 10px;
        display: block;
        margin: 20px auto 0;
        width: 206px;
        height: 5px;

        @include lg() {
          height: 4px;
        }

        @include md() {
          margin-top: 12px;
          width: 90px;
          height: 1px;
        }
      }
    }

    .faq_top_search {
      position: relative;
      margin: 0 auto 0 auto;
      width: fit-content;

      svg {
        position: absolute;
        left: 20px;
        top: 16px;
      }

      input[type='text'] {
        display: inline-block;
        max-width: 100%;
        width: 500px;
        height: 51px;
        padding: 0 20px 0 50px;
        border-radius: 6px;
        background: rgba(250, 250, 250, 0.93);
        border: 0px solid;

        @include md() {
          width: 320px;
        }
      }
    }
  }

  .faqHelp {
    max-width: 100%;
    width: 556px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    border-radius: 14px;
    border: 3px solid #36353a;
    background: linear-gradient(180deg, #0b3c96 -384.97%, #36353a 79.83%);

    @include md() {
      padding: 25px 60px 27px;
    }

    h4 {
      margin: 0;
      color: #fff;
      // font-family: $font_mulish;
      font-size: 25px;
      font-weight: 700;

      @include md() {
        font-size: 17px;
        margin: 10px 0 17px;
      }
    }

    p {
      margin: 0 0 17px;
      color: #fff;
      // font-family: $font_mulish;
      font-size: 20px;
      font-weight: 400;

      @include md() {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }

    &__links {
      display: flex;
      column-gap: 40px;
      align-items: center;
      justify-content: center;

      @include md() {
        column-gap: 50px;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 12px;

      a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 55%;
        text-decoration-line: underline;

        @media (max-width: 480px) {
          line-height: 130%;
        }
      }
    }
  }
}

.faqList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  padding: 40px 0 80px;

  @include md() {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 22px 20px;
    padding: 40px 0;
  }

  /* search res */
  .blog_not_found {
    margin: 0 0 0 0;
  }

  .faq_list_res_item {
    .faq_list_res_item_title {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;

      a {
        color: #fff;
        text-align: center;
        // font-family: $font_mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }

      span {
        color: var(--Gray, #9e9ba4);
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 180%;
        text-decoration-line: underline;
      }
    }

    .faq_list_res_item_content {
      p {
      }

      span {
      }
    }
  }
  /* // search res */

  &__item {
    $b: &;

    border-radius: 15px;
    border: 3px solid transparent;
    background: #36353a;
    overflow: hidden;
    padding: 18px 30px 66px;
    position: relative;

    @include md() {
      padding-left: 25px;
      padding-right: 25px;
    }

    &.expanded {
      padding-bottom: 80px;

      @include md() {
        padding-bottom: 70px;
      }
    }

    & + & {
      margin-top: 40px;

      @include md() {
        margin-top: 22px;
      }
    }

    &ContentWrap {
      height: 240px;
      overflow: hidden;
      position: relative;

      @include md() {
        height: 208px;
      }

      #{$b}.expanded & {
        height: auto;
      }

      &::after {
        content: '';
        background-image: linear-gradient(0deg, #36353a, transparent);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;

        #{$b}:not(.expandable) &,
        #{$b}.expanded & {
          display: none;
        }
      }
    }

    &Content {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    h3 {
      position: relative;
      display: block;
      width: fit-content;
      margin: 0 0 3px;
      color: #f2f3ff;
      // font-family: $font_mulish;
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;

      @include md() {
        font-size: 17px;
      }

      &::before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #f2f3ff;

        @include md() {
          height: 2px;
        }
      }
    }

    &Link {
      display: flex;
      margin: 0;
      padding: 0 0 0 12px;
      position: relative;
      color: #f2f3ff;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      width: fit-content;

      @include md() {
        font-size: 14px;
        padding: 0 0 0 10px;
      }

      &:hover {
        color: $color_link_hovered;
      }

      &::before {
        content: '';
        flex-shrink: 0;
        margin: 9px 12px 0 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #f2f3ff;

        @include md() {
          margin: 6px 10px 0 0;
          width: 3px;
          height: 3px;
        }
      }
    }

    &Expand {
      cursor: pointer;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;

      #{$b}:not(.expandable) & {
        display: none;
      }

      #{$b}.expanded & {
        height: 70px;
      }

      &::before {
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.33) 218.25%
        );
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.5s;
      }

      &:hover::before {
        opacity: 1;
      }

      &::after {
        content: '';
        background: url('../svg/faq-item-arrow.svg') center/contain no-repeat;
        width: 19px;
        height: 11px;
        position: absolute;
        bottom: 22px;
        transition: 0.3s;

        #{$b}.expanded & {
          transform: rotate(180deg);
        }
      }
    }
  }
}
