.faq_single {
  padding-top: 55px;
  background: url('../img/faq_1_bg_big.webp') center top / cover no-repeat;

  .faq_single_inner {
    padding: 0 40px;

    @include lg() {
      padding: 0;
    }
  }

  .faq_single_gofaq {
    margin: 0 0 53px 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: start;
    width: fit-content;
    color: #9E9BA4;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration-line: underline;
  }

  h1 {
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    color: #FFF;
    // font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    @include md() {
      font-size: 30px;
    }
  }

  .faq_single_ts {
    margin: 15px 0 53px 0;
    display: flex;
    justify-content: start;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .faq_single_content {
    padding-bottom: 80px;

    p {
      margin: 0 0 21px 0;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%;

      @include md() {
        font-size: 16px;
      }
    }

    ol, ul {
      margin: 16px 0 21px 0;
      padding: 0 0 0 20px;

      li {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;

        @include md() {
          font-size: 16px;
        }
      }
    }
  }

  // FAQ related
  .faqList {
    padding-top: 10px;
    padding-bottom: 80px;

    @include md() {
      padding-bottom: 40px;
    }

    .faqList__item + .faqList__item {
      margin-top: 0;
    }
  }

  .faq_single_related_title {
    position: relative;
    margin: 0 0 0 0;
    color: #FFF;
    text-align: center;
    // font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%;

    @include md() {
      font-size: 30px;
    }
  }

  .faq_single_related_subtitle {
    display: block;
    width: fit-content;
    margin: 20px auto 30px auto;
  }
  // // FAQ related

}