// Media breakpoints
$xxl: 1338px;
$xl: 1200px;
$lg: 1024px;
$md: 767px;
$sm: 475px;

// Fonts
$font_roboto: 'Roboto', sans-serif;
$font_mulish: 'Mulish', sans-serif;
$font_inter: 'Inter', sans-serif;
$font_opensans: 'Open Sans', sans-serif;

// Colors
$color_bg_primary: #242424;
$color_bg_secondary: #2f3033;
$color_white: #fff;
$color_blue: #4062ff;
$color_link: #5685ff;
$color_link_hovered: #78aeff;
$color_meta: #949494;

// Colors
$white: #fff;
$accent: #4062FF;
$secondary: #35363A;
$text: #949494;
$alice_blue: #F2F3FF;
