.security-biometric {

  padding-top: 130px;

  @media (max-width: 768px) {
    padding-top: 85px;
  }

  &__container {
    max-width: calc(955px + 22px + 22px);
    width: 100%;
    padding: 0 22px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 38px;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 60px;
    }
  }

  &__left-wrapper {
    width: 100%;
    max-width: 452px;
    padding-top: 103px;

    @media (max-width: 768px) {
      max-width: 100%;
      padding-top: 0;
    }
  }

  &__right-wrapper {
    max-width: 465px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__title {
    color: var(--main-font-color);

    /* H4 */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 157.143% */
    margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 38px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 54px;
  }

  &__item {
    padding-left: 21px;
    position: relative;

    &::before {
      content: "";
      width: 11px;
      height: 11px;
      background: linear-gradient(129deg, #E64DFF -17.03%, #FF4D78 96.4%);
      position: absolute;
      left: 0;
      top: 11px;
      border-radius: 100%;
    }
  }

  &__text {
    color: var(--main-font-color);

    /* Body L */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
  }

  &__link {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    /* Button */

    border-radius: 26px;
    background-color: #fff;
    max-width: 220px;
    width: 100%;


    p {
      background: radial-gradient(50% 50% at 50% 50%, #587EFF 47%, #5478F4 100%);
      background-clip: text;
      color: #587EFF;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
  }
}